---
- name: install and configure nginx
  hosts: nginx_servers
  become: yes

  tasks:
    - name: install nginx
      dnf: 
        name: nginx
        state: present
    
    - name: start nginx
      service:
        name: nginx
        state: started
        enabled: yes

    - name: Verify Nginx is running
      command: systemctl status nginx
      register: nginx_status

    - name: Print Nginx status
      debug:
        msg: "{{ nginx_status.stdout }}"